require_relative '../lib/wordcram'
#require 'wordcram' # install the gem first.

Wordcram.draw do
	canvas do
		size 700, 700
		#background black
	end

	from('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
	  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
	  qui officia deserunt mollit anim id est laborum', :as => :text)

	placer() {     
    x = word.weight *  (field_width - word_width)
    y = word.weight * (field_height - word_height)
	  [x, y] 
  }
end