require_relative '../lib/wordcram'

Wordcram.draw do
  canvas do
    size 700, 700
    background black
  end

  from('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
  qui officia deserunt mollit anim id est laborum', :as => :text)

  colors(blue, green, yellow, red)

  fonts "LiberationSans"

  sized_by_weight({:mix => 30, :max => 35})
  sized_by_rank({:mix => 30, :max => 35})

  word_padding 10

  angled_at 70
  angled_between 70, 90

  text_case :upper
  text_case :lower
  text_case :default

  placer { |data|
    x = data[:word].weight *  (data[:field_width] - data[:word_width])
    y = data[:word].weight * (data[:field_height] - data[:word_height])
    [x, y] }

  placer(:horizontal_line)
  placer(:center_clump)
  placer(:horiz_band_anchored_left)
  placer(:swirl)
  placer(:upper_left)
  placer(:wave)

  save_to('output.png')
end